.idea/*
*.pyc
*__pycache__*
*node_modules*
venv/

frontend/dist/bundle\.js

frontend/dist/

frontend/out/

frontend/\.nyc_output/

frontend/coverage/

frontend/js/config/config\.js

*.aux

documentation/RequirementsAndSpecifications\.log

documentation/RequirementsAndSpecifications\.synctex\.gz

documentation/RequirementsAndSpecifications\.toc

documentation/RequirementsAndSpecifications\.out

documentation/TestingStrategy\.toc

documentation/TestingStrategy\.synctex\.gz

documentation/TestingStrategy\.out

documentation/TestingStrategy\.lot

documentation/TestingStrategy\.log

documentation/TestingStrategy\.lof
